.about.container
  el-row(:gutter="40")
    el-col.about__menu(:span="6")
      .nav-menu.nav-menu--dark
        ul.nav.nav-pills.nav-stacked
          li: a.title 了解申一科技
          li: router-link(to="/about/details") 私募细则
          li: router-link(to="/about/plans") 商业计划书
          li: router-link(to="/about/medias") 媒体报道
    el-col(:span="18")
      transition(name='fade', mode='out-in')
        router-view.about__content
