.admin-group
  .container-fluid
    .container(style={background: '#fff'})
      .panel.panel-default.panel-state
        .panel-body 登陆离线钱包

    .row
      .col-xs-12.col-sm-9.col-sm-offset-3
        h3.title-tip 登陆离线钱包

    .row
      .col-xs-2.col-md-3.col-lg-3
        .ad-tips
          ol
            li 点击"浏览"按钮，找到钱包备份文件所在的硬盘位置，并导入。
            li 输入您在创建钱包时,设置的钱包密码。
            li 当前钱包页面为WEB离线钱包页面，请放心导入钱包备份文件。

    style={padding: ['0', '15px']}
      .col-xs-12.col-sm-12.col-md-9.col-lg-9
        .createWallet-body(style={width: '100%'})
          .row(style={"margin-top": '35px'})
            .col-sm-3.col-md-3
              p.text-right(style={'line-hight': '30px'})
            .col-xs-12.col-sm-6.col-md-5.input-group(style={padding: 0, float: 'left'})
              input

