.tips-title {
  width: 100%;
  height: 40px;
  background: #009cff;
  color: #fff;
  line-height: 40px;
  text-align: center;
}

.baz-from {
  margin-top: 60px;
  margin-bottom: 12px;
  padding-left: 53px;
  .form-group {
    width: auto !important;
    padding: 0 10px;
    input {
      width: 176px !important;
    }
  }
}

.table-js th {
  background-color: #eeeeee;
  padding: 10px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 26px !important;
  color: 636363;
  tr td {
      border-top: none !important;
  padding-left: 26px !important;
  color: 636363;
}
}

.table-js.table-striped > tbody > tr:nth-child(even) {
  background-color: #f8f8f8;
}

/*amount-bar*/

.amount-tb-bar {
  padding-left: 0px !important;
}

.amount-bar {
  height: 20px;
}

.amount-bar-buy {
  background: #E48786;
}

.amount-bar-sell {
  background: #AEC764;
}

.sell-name {
  color: #AEC764;
}

.buy-name {
  color: #E48786;
}
