<div class="container-padding markets">
  <div class="panel panel-default panel-state">
    <div class="panel-body">
      <span class="blue-span">{{name}} OTC交易</span>
    </div>
  </div>
  <div class="row">
    <div class="el-content-left">
      <div class="el-flex-between">
        <button class="el-button el-button--primary el-button-lg" type="button">官方网站</button>
        <button class="el-button el-button--primary el-button-lg" type="button">代币详情</button>
      </div>
      <div class="el-content-pannel" v-if="loggedIn">
        <h3 class="el-content-title">
          我的{{ deliverCurrency }}资产:
        </h3>
        <p>可用：<span class="blue-span">{{ ownAsset && ownAsset.length && ownAsset[0].valid }}</span></p>
        <p>冻结：<span class="blue-span">{{ ownAsset && ownAsset.length && ownAsset[0].frozen }}</span></p>
        <p>总量：<span class="blue-span">{{ ownAsset && ownAsset.length && ownAsset[0].total }}</span></p>
        <h3 class="el-content-title bk-margin-top-20">
          我的{{ receiveCurrency }}资产:
        </h3>
        <p>可用：<span class="blue-span">{{ ownAsset && ownAsset.length && ownAsset[1].valid }}</span></p>
        <p>冻结：<span class="blue-span">{{ ownAsset && ownAsset.length && ownAsset[1].frozen }}</span></p>
        <p>总量：<span class="blue-span">{{ ownAsset && ownAsset.length && ownAsset[1].total }}</span></p>
      </div>
      <div class="el-content-pannel noAssets" v-else>
        <h3 class="el-content-title">
          |&nbsp;&nbsp;<router-link class="noAssets-login" :to="{path: 'login'}">登录钱包</router-link>
          &nbsp;|&nbsp;&nbsp;<router-link class="noAssets-signup" :to="{path: 'signUp'}">创建钱包</router-link>&nbsp;&nbsp;|
        </h3>
      </div>
      <div class="el-content-pannel">
        <h3 class="el-content-title red-span">
          创建{{ deliverCurrency }}买单:
        </h3>
        <div class="bk-margin-top-10">
          <input class="form-control" type="number" v-model.trim.number="payNum" placeholder="请输入购买数量" />
        </div>
        <div class="bk-margin-top-10">
          <input class="form-control" type="number" v-model.trim.number="payAnsPrice" :placeholder="buyPlaceHolder" />
        </div>
        <p class="font-12 bk-margin-top-10">订单总额：<span class="red-span font-14">{{ totoalMoney }} {{ receiveCurrency }}</span></p>
        <button type="button" @click="bidAction" class="el-button el-button--danger el-button--fill bk-margin-top-10">买入</button>
        <p class="font-12 weak-span bk-margin-top-10" v-if="deliverCurrency === 'ANS'">友情提示：由于小蚁股不可分割，请确保买入总价（买入量*买入价）为整数！</p>
      </div>
      <div class="el-content-pannel">
        <h3 class="el-content-title green-span">
          创建{{ deliverCurrency }}卖单:
        </h3>
        <div class="bk-margin-top-10">
          <input class="form-control" type="number" v-model.trim.number="sellNum" placeholder="请输入卖出数量" />
        </div>
        <div class="bk-margin-top-10">
          <input class="form-control" type="number" v-model.trim.number="sellAnsPrice" :placeholder="sellPlaceHolder" />
        </div>
        <p class="font-12 bk-margin-top-10">订单总额：<span class="green-span font-14">{{ totoalSellMoney }} {{ receiveCurrency }}</span></p>
        <button type="button" @click="askAction" class="el-button el-button--success el-button--fill bk-margin-top-10">卖出</button>
        <p class="font-12 weak-span bk-margin-top-10" v-if="deliverCurrency === 'ANS'">友情提示：由于小蚁股不可分割，请确保买入总价（买入量*买入价）为整数！</p>
      </div>
      <table-container
        :tableHeader="tableHeader"
        nodata="请登陆后查看"
        class="bk-margin-top-10"
        :dataSource="actionDataSource"
        show
        @cancel-click="cancel">
        <span slot="table-left" class="font-14">我的委托单:</span>
      </table-container>
    </div>
    <div class="el-content-right">
      <div class="row el-content-right-header">
        <div class="col-xs-3">
          <h4>{{ name }}/{{ receiveName }}</h4>
          <p class="blue-span">{{ deliverCurrency }}/{{ receiveCurrency }}</p>
        </div>
        <div class="col-xs-3">
          <h4>最新价</h4>
          <p class="blue-span">{{ currentPrice }}{{ receiveCurrency }}</p>
        </div>
        <div class="col-xs-3">
          <h4>24H成交量</h4>
          <p class="blue-span">{{ totalTrade }}{{ deliverCurrency }}</p>
        </div>
        <div class="col-xs-3">
          <h4>24H涨跌幅</h4>
          <p :class="[rate > 0 ? 'red-span' : 'green-span']">{{ rate }}%</p>
        </div>
      </div>
      <div class="row">
        <div class="marketTrade-container">
          <table-container
            :showHeader="false"
            size="table-lg"
            :tableHeader="tradeHeader"
            type="sell"
            :dataSource="orders"
            :buttonStatus="buyButtonStatus"
            @cancel-click="buyOrder">
          </table-container>
          <table-container
            :tableHeader="tradeHeader"
            size="table-lg"
            type="buy"
            :dataSource="bills"
            :buttonStatus="sellButtonStatus"
            @cancel-click="sellOrder">
          </table-container>
        </div>
        <table-container
          class="bk-margin-top-30"
          :tableHeader="mytradeHeader"
          :dataSource="tradeDataSource">
          <span slot="table-left" class="font-14 table-left">最新成交:</span>
          <a slot="table-right" class="bk-point-cursor font-14 blue-span table-right" @click="getMyHistory">交易记录</a>
        </table-container>
      </div>
    </div>
  </div>
</div>
