<div class="propertylist">
    <!-- UI: table -->
    <table class="table data-table table-bordred table-striped">
        <thead>
        <th>资产类型</th>
        <th>总量</th>
        <th>冻结量</th>
        <th>可用量</th>
        <th></th>
        </thead>
        <tbody>
        <tr v-for="balance in balances">
            <td>{{balance['name']}}</td>
            <td>{{balance['total']}}</td>
            <td>{{balance['frozen']}}</td>
            <td>{{balance['valid']}}</td>
            <td>
                <span class="link-span"
                      @click="balanceTransfer(
                                balance['asset'], balance['divisible'],
                                balance['name'], balance['valid'])" v-show="balance['category'] != 144">转账</span>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- TODO: Paging -->
    <!-- <div class="row">
        <div class="col-xs-12">
            <ul class="pagination pagePath  pull-right">
                <li class="active"><a href="#">1</a></li>
                TODO: 每页展示7行信息（7行资产品类、7行挂单、7行成交记录等）。当用户的某菜单栏信息超过7行时，才出现这样的页面按钮。没有超过7行的，不用展示按钮（或只展示第一页）。
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </div>
    </div> -->


    <el-dialog v-model="dialogTransfer" class="tiny-dialog">
        <div style="padding-left:10px;padding-right:20px">
            <div class="row">
                <div class="col-xs-4">
                    <b>资产类型:{{ transfer_name }}</b>
                </div>
                <div class="col-xs-4">
                    <b>可用数量:{{ transfer_valid }}</b>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <span class="col-xs-3" style="margin-top:8px">转账数量:</span>
                <div class="col-xs-6">
                    <input type="text" class="form-control"
                           v-model="transfer_num" style="width:100%!important">
                </div>
                <div class="col-xs-3" style="padding-left: 0;">
                    <span v-if="transfer_num ==''"
                          class="error-text"> 请输入转账数量 </span>
                    <span v-else-if="checkOutKeyValue"
                          class="error-text"> 数量错误 </span>

                    <span v-else> <img src="/src/assets/yes.png"/> </span>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <span class="col-xs-3" style="margin-top:8px">转账地址:</span>
                <div class="col-xs-6">
                    <input type="text" class="form-control"
                           v-model="transfer_address_value" style="width:100%!important">
                </div>

                <div class="col-xs-3" style="padding-left: 0;">
                    <span v-if="transfer_address_value ==''"
                          class="error-text"> 请输入转账地址 </span>
                    <span class="error-text"
                          v-else-if="transfer_address_value.trim()[0]!='a' && transfer_address_value.trim()[0]!='A' || !/[a-zA-Z0-9]{34}/.test(transfer_address_value)"> 地址格式错误 </span>
                    <span class="error-text"
                          v-else-if="transfer_address_value.trim().length!=34"> 地址必须是34位 </span>
                    <span v-else> <img src="/src/assets/yes.png"/> </span>
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-xs-3"></div>
                <div class="col-xs-6">
                    <el-button class="btn btn-block ljbutton" @click="transfer" :loading="loading">确认转账</el-button>
                </div>
            </div>
        </div>
    </el-dialog>
</div>