.active a:hover {
  cursor: pointer;
}

.blue-span {
  color: #2c9;
}

.tiny-dialog > div {
  width: 544px;
}

/*data-table */

.data-table th {
  height: 41px;
  background: #eeeeee;
  border-top: #ccc 1px solid;
  border-bottom: #ccc 1px solid;
}

.data-table th,
.data-table td {
  text-align: center;
}

.data-table td {
  height: 60px;
  vertical-align: middle !important;
  color: #8c8c8c;
}

.ljbutton {
  background: #2c9;
  color: #fff;
}

.ljbutton:hover {
  color: #fff !important;
}

.dialog-shuoming {
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}

.dialog-shuoming p {
  color: #999;
  margin-bottom: 0px;
  margin-top: 5px;
}

#dialogTransaction > div {
  width: 850px;
}

/*data-table*/

.table-striped > tbody > tr:nth-child(even) {
  background-color: #eeeeee;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #fff;
}

/*分页*/

.pagePath li a {
  border-radius: 0px !important;
  background-color: #eeeeee;
}

.pagePath .active a {
  background: #2c9 !important;
  border-color: #2c9 !important;
}

.fetchState1 p {
  margin-bottom: 5px;
  color: #868282;
}