red = #df2626

.admin-group
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  align-items: center
  height: 100vh

@media screen and (max-width: 500px)
  .admin-group
    align-items: baseline


@media(max-width:768px)
  .hidden-xs
    display: none !important
  .visible-xs
    display: block

@media(min-width:768px) and (max-width:1180px)
  .visible-xs
    display: none

@media(min-width:1180px)
  .visible-xs
    display: none

.text-error
  display: inline-block
  color: red
  padding-top: 5px
  padding-left: 5px

.fileDiv
  position: absolute
  top: 0
  right: 81px
  left: 0
  height: 34px
  border: 1px solid #ccc
  border-radius: 6px
  line-height: 34px
  padding-left: 12px
  color: #999
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  border-botton-right-radius: 0
  border-top-right-radius: 0

.register
  margin-top: 15px

.btn-lj
  background-color: #009cff
  color: #fff

.register a
  color: #aeaeae
  &:hvoer
    color: #009cff

.title-tip
  border-bottom: 1px solid #000


.login
  margin: 0 auto
  margin-top: 40px

/*.input-group*/
/*margin-top: 20px*/
/*width: 320px*/
/*/

.form-control
  border-radius: 6px

/*.form-control,
.from-group
    width: 255px!important*/

.select-file
  border-radius: 6px
  border: none
  cursor: pointer

.pwd
  border-radius: 6px !important

.tips
  border-top: 1px solid #b1b1b1
  width: 100%
  color: #b1b1b1
  margin-top: 60px

.admin-content
  height: 100%
  position: relative

.crow
  width: 100%
  padding-left: 15px
  padding-right: 15px
  & .msg
    width: 100%
    border-radius: 0px

.login-body #select-file
  border-top-right-radius: 0px
  border-bottom-right-radius: 0px

/*btn-file*/

.btn-bs-file
  position: relative
  background: #009cff
  border-color: #009cff
  &:hover
    background: #0080ef
    border-color: #0080ef
  & input[type="file"]
    position: absolute
    top: -9999999
    filter: 'alpha(opacity=0)'
    opacity: 0
    width: 0
    height: 0
    outline: none
    cursor: inherit

.btn-select-file
  border-top-left-radius: 0 !important
  border-bottom-left-radius: 0 !important
  border-top-right-radius: 4px !important
  border-bottom-right-radius: 4px !important

.link-span
  color: #009cff
  &:hover
    cursor: pointer
    text-decoration: underline

.ad-tips
  li
    margin-bottom: 12px
  ol
    padding: 30px 20px 30px 32px
    color: #aeaeae
    background: #f3f3f3

.h2
  border-bottom: 1px solid #000
  padding-bottom: 10px

.ad-tips__content
  background-color: #f2f2f2
  color: #928f8c
  padding: 5px
  & > p
    text-indent: 40px
    margin: 14px 0

.panel-state
  height: 35px!important
  border: none
  background-color: #f2f2f2
  margin-top: 20px
  .panel-body
    height: 100%
    padding: 6px 27px 5px
    background-color: #f2f2f2
    color: #009cff

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
  vertical-align: middle

.link-span-seal
  color #747474
  text-decoration line-through
  cursor: default

.pointer
  cursor: pointer

.ad-tips__title
  width: 100%;
  height: 40px;
  background: #009cff;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 4px;

.blue-span
  color: #009cfd;

.red
  color: red

.o-popover
  position: fixed
  overflow: auto
  height: 100vh

.el-popover__title
  font-size: 30px
  text-align: center


.left-menu .nav
  font-size 16px
  width 100%
  .title
    background #009cff
    color #fff
  & > li
    background #f5f5f5
  & > li > a
    text-align: center
    border-radius 0
    color #626262
    font-weight normal

  & > li > a.active
    background: hsla(0, 0%, 80%, 1)

.admin-tips li
  margin-bottom 0
// Footer
.admin-footer-line
  margin-top 20px
  border-top 1px solid #ccc
  color #b1b1b1

.mb10
  margin-bottom: 10px

// functional

.bk-margin-top-10
  margin-top: 10px !important

.bk-margin-top-20
  margin-top: 20px !important
.red-span
  color: #DB4637 !important
.gray-span
  color: #666
.green-span
  color: #13ce66
.weak-span
  color: #999
.font-12
  font-size: 12px
.font-14
  font-size: 14px
.el-button--fill
  width: 100%
.el-flex-between
  display: flex
  justify-content: space-between
.text-center
  text-align: center
.btn-trade
  padding: 8px 15px
  outline: none
  background-color: #fff

.bk-point-cursor
  cursor: pointer

.bk-margin-ftop-30
  margin-top: -30px !important

.bk-margin-top-30
  margin-top: 30px !important

.el-button-lg
  padding: 16px 40px
@import "components.styl"