.nav-menu .nav
  width: 100%
  & > li
    float: none
    text-align: center
    margin: 0
    & > a
      color: #878787
      border: 1px solid #f3f3f3
      border-radius: 0
      &.active
        background: #f2f2f2
    & > .title
      background: #009cff
      color: white
      font-size: 16px;

.nav-menu--dark .nav
  & > li > a
    background: #f2f2f2
    border: 1px solid #fff
    &.active
      background: #fff
      border: 1px solid #d8d8d8