.oContent
  margin-top 43px
  margin-bottom 124px

.oContent__tab
  -webkit-border-radius 0
  -moz-border-radius 0
  border-radius 0
  background: url("../../../images/o_tab.png")
  margin 0 0 8px 0
  color #fff
  border 0
  width 173px
  height 45px
  text-align left
  text-indent 15px
  font 16px/2 'Microsoft YaHei'
  &:active, &:hover
    background: url("../../../images/o_tab_active.png")
  &--active
    background: url("../../../images/o_tab_active.png")

.oContent__on-tab
  -webkit-border-radius 0
  -moz-border-radius 0
  border-radius 0
  background: url("../../../images/on_tab.png")
  margin 0 0 8px 0
  color #fff
  border 0
  width 200px
  height 45px
  margin-left -46px
  font 16px/2 'Microsoft YaHei'
  text-align center
  &:active, &:hover
    background: url("../../../images/on_tab_active.png")
  &--active
    background: url("../../../images/on_tab_active.png")

.table > tbody > tr:last-of-type
  border none
  background: #f9f9f9

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td
  padding 8px
  line-height 1.42857143
  vertical-align top
  border none

.table > thead > tr > th
  vertical-align bottom
  border none

.table-striped > tbody > tr:nth-of-type(odd)
  background-color #fff

.table > thead > tr.active > th
  background #ddd

.table > thead:first-child > tr:first-child > th
  text-align center

.btn:active, .btn.active
  -webkit-box-shadow none
  -moz-box-shadow none
  box-shadow none

.table tr.active th
  width 20%

.pointer
  cursor pointer

.table-hover > tbody > tr:hover
  background: #efefef