.nav > li > a:hover,
  .nav > li > a:focus
    background: #009cff !important

  .navbar
    margin-bottom: 0

  .navbar-collapse
    padding 0



  .nav
    width 65%
    li
      float left

  ul > .frist
    background none


  ul > li > .menu
    color #fff !important
    font-size 1.2em
    background none
    padding-left 30px !important
    padding-right 30px !important


  ul > li > .menu:link
    color #fff !important


  ul > li > .menu:visited
    color #fff !important


  ul > li > .menu:hover
    color #fff !important


  ul > li > .menu:active
    color #fff !important


  .navbar-nav li:hover
    background #009cff


  .navbar-nav li:hover a
    color #fff
    text-decoration none


  .menulist
    position absolute
    top 50px
    left 0
    z-index 100
    padding 0
    display none
    ul
      display block
    & > li
      list-style none
      background #555
      width 160px
      height 38px
      line-height 38px
      text-align center
      font-size 15px
      border-top 1px solid #666
      a
        color #fff !important
      &:hover
        background #333
        a
          color #337ab7

  .navbar
    background-color #000 !important
    border none !important
    border-radius 0 !important
    font-family "微软雅黑"
    .active
      background #009cff

  .first:hover .menulist
    display: block

.form-control,
.form-group
  width 255px !important

.search
  display inline-block
