<div id="head">
  <div class="logo">
    <div class="logo-left">
      <router-link to="/index"><img src="../../assets/logo.png" alt=""/></router-link>
      <span id="des">基于智能合约的数字资产OTC平台</span>
    </div>
    <div class="logo-right">
      <ul>
        <li class="border">
          <transition name="fade" mode="out-in">
            <router-link to="/login" id="header-a"
                         class="header-a">{{ loginText }}</router-link>
          </transition>
        </li>
        <li>
          <router-link v-if="!creationText" to="/creatWallet"
                       target="_blank" class="header-a">创建钱包</router-link>
          <a v-else class="header-a" style="text-decoration: none; color: #7c7c7c">{{ creationText }}</a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-default" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav">
      <li class="frist ">
        <a class="menu">
          分类资产

          <ul class="menulist">
            <li>
              <router-link
                  class="text-center"
                  :to="{
                           path: '/markets',
                           query: { 'class': 'anscny' }
                         }"> 小蚁股

              </router-link>
            </li>
            <li>
              <router-link
                  class="text-center"
                  :to="{
                           path: '/markets',
                           query: { 'class': 'anccny' }
                        }"> 小蚁币

              </router-link>
            </li>
            <!-- <li><router-link>开拍币</router-link></li> -->
          </ul>
        </a>
      </li>
      <li>
        <router-link class="menu active" to="/">首 &nbsp; 页</router-link>
      </li>
      <li>
        <a class="menu" href="http://antchain.xyz/" target="_blank">区块浏览</a>
      </li>
      <li>
        <a class="menu"
           href="//shang.qq.com/wpa/qunwpa?idkey=24250f89f770858cb6e518fae271a588f847f8bfdc2e604a1ef40dea20b9beae"
           target="_blank">加入Q群</a>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="搜索功能暂未开放" disabled>
      </div>
      <button type="submit" class="btn btn-default" disabled>
        <span style="color:#000;text-decoration:none">搜索</span>
      </button>
    </form>
  </nav>
</div>