.btn-default a
  text-decoration none
  &:hover
    text-decoration underline
    cursor pointer

.carousel-control.right img
  margin-left -1px

.first:hover .menulist
  display: block

.logo
  height 148px
  padding 50px
  img
    margin 0 10px 0 10px


.logo-left
  float left
  margin-top 20px


.logo-right
  float right
  padding 10px 20px 0 0
  li
    list-style none
    float left
    border-right 1px solid #dadada
    .header-a
      color #7c7c7c
      margin 0 13px
      &.active
        text-decoration: underline
      &:hover
        color #009cff
        cursor: pointer
  .border
    border-left 1px solid #dadada
    a
      color #009cff

.logout
  margin-right: 0

.navbar
  background-color #000 !important
  border none !important
  border-radius 0 !important
  font-family "微软雅黑"
  .active
    background #009cff


#head nav
  margin 0px !important


.form-control,
.form-group
  width 255px !important

.container-fluid
  width 1200px
  margin 0 auto


.nav
  width 65%
  li
    float left

ul > .frist
  background none


ul > li > .menu
  color #fff !important
  font-size 1.2em
  background none
  padding-left 30px !important
  padding-right 30px !important


ul > li > .menulink
  color #fff !important


ul > li > .menuvisited
  color #fff !important


ul > li > .menuhover
  color #fff !important


ul > li > .menuactive
  color #fff !important


.navbar-nav lihover
  background #009cff


.navbar-nav lihover a
  color #fff
  text-decoration none


.menuhover ul
  display block


.menulist > li
  list-style none
  background #555
  width 160px
  height 38px
  line-height 38px
  text-align center
  font-size 15px
  border-top 1px solid #666


.menulist > lihover
  background #333


.menulist > lihover a
  color #337ab7


.menulist > li > a
  color #fff !important


.menulist
  position absolute
  top 50px
  left 0
  z-index 100
  padding 0
  display none


.search
  display inline-block


#des
  display inline-block
  vertical-align bottom
  margin-left 20px

.navbar-default
  margin 15px !important


.navbar-collapse
  padding 0

.uid
  color #009cff !important
  margin-right 13px
