<div id="head">
  <div class="logo">
    <div class="logo-left">
      <router-link to="/index"><img src="../../images/logo.png" alt=""/></router-link>
      <span id="des">智能资产管理平台</span>
    </div>
    <transition name="fade" mode="out-in">
      <div class="logo-right">
        <!-- login session -->
        <div style="margin-top: 20px;">
          <ul v-if="loggedIn">
            <li> <a class="uid">我的UID：{{ uid }}</a> </li>
            <li class="border">
              <router-link to="/admin" class="header-a">我的钱包</router-link>
            </li>
            <li> <a href="#/signUp" target="_blank" class="header-a">创建钱包</a> </li>
            <li> <span class="header-a logout" @click="logout">退出钱包</span> </li>
          </ul>

          <ul v-else>
            <li class="border"><router-link to="/login" class="header-a">登录钱包</router-link></li>
            <li><router-link to="/signUp" class="header-a">创建钱包</router-link></li>
          </ul>
        </div>
      </div>
    </transition>
  </div>
</div>
