.btn-default a
  text-decoration none
  &:hover
    text-decoration underline
    cursor pointer

.logo
  height 148px
  padding 50px
  img
    margin 0 10px 0 10px

.logo-left
  float left
  margin-top 20px


.logo-right
  float right
  padding 10px 20px 0 0
  margin-top: 15px
  li
    list-style none
    float left
    border-right 1px solid #dadada
    .header-a
      color #7c7c7c
      margin 0 13px
      &.active
        text-decoration: underline
      &:hover
        color #009cff
        cursor: pointer
  .border
    border-left 1px solid #dadada
    a
      color #009cff

.logout
  margin-right: 0

#head
  background: #eee

#des
  display inline-block
  vertical-align bottom
  margin-left 20px
  font-size: 16px
  font-weight: lighter

.uid
  color #009cff !important
  margin-right 13px
