.btn-default a {
  text-decoration: none;
}

.carousel-control.right img {
  margin-left: -1px;
}

.header-a:hover {
  text-decoration: underline;
}

.logo {
  height: 148px;
  padding: 50px;
}

.logo img {
  margin: 0 10px 0 10px;
}

.logo-left {
  float: left;
  margin-top: 20px;
}

.logo-right {
  float: right;
  padding: 50px 20px 0 0;
}

.logo-right li {
  list-style: none;
  float: left;
  border-right: 1px solid #dadada;
}

.logo-right .border {
  border-left: 1px solid #dadada;
}

.logo-right .border a {
  color: #009cfd;
}

.logo-right li a {
  color: #7c7c7c;
  margin: 0 13px;
}

.logo-right li a:hover {
  color: #009cfd;
}

.navbar {
  background-color: #000 !important;
  border: none !important;
  border-radius: 0 !important;
  font-family: "微软雅黑";

}

#head nav {
  margin: 0px !important;
}

.navbar-nav .active {
  background: #009cff;
}

.form-control,
.form-group {
  width: 255px !important;
}

.container-fluid {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  width: 65%;
}

.nav li {
  float: left;
}

/*@media (min-width: 480px) {
  .navbar-form {
    display: none;
  }
}*/

ul > .frist {
  background: none;
}

ul > li > .menu {
  color: #fff !important;
  font-size: 1.2em;
  background: none;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

ul > li > .menu:link {
  color: #fff !important;
}

ul > li > .menu:visited {
  color: #fff !important;
}

ul > li > .menu:hover {
  color: #fff !important;
}

ul > li > .menu:active {
  color: #fff !important;
}

.navbar-nav li:hover {
  background: #009cff;
}

.navbar-nav li:hover a {
  color: #fff;
  text-decoration: none;
}

.menu:hover ul {
  display: block;
}

.menulist > li {
  list-style: none;
  background: #555;
  width: 160px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid #666;
}

.menulist > li:hover {
  background: #333
}

.menulist > li:hover a {
  color: #337ab7
}

.menulist > li > a {
  color: #fff !important;
}

.menulist {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 100;
  padding: 0;
  display: none;
}

.search {
  display: inline-block;
}

#des {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 20px;
}

.navbar-default {
  margin: 15px !important;
}

.navbar-collapse {
  padding: 0;
}

.uid {
  color: #009cfd !important;
}