.nav-menu .nav
  width: 100%
  & > li
    float: none
    text-align: center
    margin: 0
    & > a
      color: #878787
      border: 1px solid #f3f3f3
      border-radius: 0
    & > .title
      background: #009cff
      color: white
      font-size: 16px;
