.container-padding
  margin-top 15px
  padding 0 32px
  color #747474

.panel-state
  height 35px !important
  border none
  background-color #f2f2f2

.panel-state .panel-body
  height 100%
  padding-top 6px
  padding-bottom 5px
  padding-left 27px
  padding-right 27px
  background-color #f2f2f2
  color #009cfd

.admin-content
  min-height: 450px
