.container-padding
   .row
      .col-xs-12
         .panel.panel-default.panel-state
            .panel-body 你已登录个人钱包
   .row
      .col-xs-3
         .nav-menu.nav-menu--dark
            ul.nav.nav-pills.nav-stacked
               li(@click="handleNav"): a.title 菜   单
               li(@click="handleNav"): router-link(to="/admin/balances") 资产列表
               // li(@click="handleNav"): router-link(:to="{ path: '/admin/order', query: { type: 'sell'}}") 我的挂单
               li(:class="[{'on': onOrder}, 'drop-trigger']")
                  a(@click="handleNav('order')") 我的挂单
                  transition(name='fade', mode='out-in')
                     ul.nav.nav-stacked.nav-pills.drop-menu
                        li(@click="on=true"): router-link(to="/admin/order/otc") OTC卖单
                        li(@click="on=true"): router-link(to="/admin/order/ico") ICO申购单
               li(:class="[{'on': onHistory}, 'drop-trigger']")
                  a(@click="handleNav('history')") 历史交易记录
                  transition(name='fade', mode='out-in')
                     ul.nav.nav-stacked.nav-pills.drop-menu
                        li(@click="on=true"): router-link(:to="{ name: 'transferH' }") 转账记录
                        li(@click="on=true"): router-link(:to="{ name: 'transactionH' }") 交易记录
               li(@click="handleNav"): router-link(to="/admin/uid") 个人中心
      .col-xs-9
         .admin-content
            transition(name='fade', mode='out-in')
               router-view
   .row
      .col-xs-offset-3
         .admin-footer-line 离线钱包由小蚁区块链提供技术支持