.container-padding
   .row
      .col-xs-12
         .panel.panel-default.panel-state
            .panel-body
               | 你已登录离线钱包
   .row
      .col-xs-3
         .ad-tips.admin-tips
            .left-menu
               ul.nav.nav-pills.nav-stacked
                  li
                     a.text-center.title 菜   单
                  li
                     router-link.text-center(to="/admin/balances")
                        | 资产列表
                  li
                     router-link.sub-li-title.text-center(:to="{ path: '/admin/order', query: { type: 'sell'}}")  我的挂单
                  li.drop-trigger
                     a.text-center 历史交易记录
                     transition(name='fade', mode='out-in')
                        ul.nav.nav-stacked.nav-pills.drop-menu
                           li
                              router-link.text-center(:to="{ path: '/admin/history/transfer' }") 转账记录
                           li
                              router-link.text-center(:to="{ path: '/admin/history/transaction' }") 交易记录
                  li
                     a.text-center(href='//antchain.xyz', target='_blank') 区块浏览
                  li
                     router-link.text-center(to="/admin/uid") 个人中心
      .col-xs-9
         // data-table
         .admin-content
            transition(name='fade', mode='out-in')
               router-view
   .row
      .col-xs-3
      .col-xs-9
         .admin-footer-line 离线钱包由小蚁区块链提供技术支持